.navbar {
    padding: 0 10%;
    height: 128px;
    font-size: 17px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 99;
    background-color: #FEF7EE;
}

.links-div {
    text-align: right;
    display: flex;
    column-gap: 8px;
    justify-content: flex-end;
}

.links-div span:first-child {
    position: relative;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.links-div>* {
    margin-right: 1rem;
    cursor: pointer;
}

.navbar a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.mobile-links {
    display: none;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: left;
    margin-top: 0.5rem;
    z-index: 2;
    background-color: #FEF7EE;
}

.dropdown ul {
    padding: 0;
    cursor: pointer;
}

.dropdown ul li {
    margin: 1rem;
    list-style: none;
    font-weight: bold;
}

@media screen and (max-width: 769px) {
    .logo {
        width: 120px;
    }

    .links-div {
        display: none;
    }

    .mobile-links {
        display: block;
        text-align: right;
    }

    .sidebar {
        top: 100px;
        right: 0;
        width: 70%;
        position: absolute;
        border: 1px solid #FEF7EEsmoke;
        text-align: right;
        padding: 1rem 5%;
        background-color: #FEF7EE;
        z-index: 2;
    }

    .sidebar ul {
        padding: 0;
    }

    .sidebar ul li {
        list-style: none;
        font-weight: bold;
        margin: 1rem;
    }

    .sidebar hr {
        border: none;
        height: 1px;
        background-color: #FEF7EEsmoke;
    }
}