.container {
    width: 60%;
    text-align: center;
    margin: 5rem auto;
}

p,
h2 {
    margin-top: 5rem;
}

.button {
    background-color: rgba(234, 156, 125, 1);
    border: none;
    color: white;
    padding: 1rem 3rem;
    border-radius: 25px;
    margin-top: 2rem;
    cursor: pointer;
}

#reseaux {
    position: fixed;
    top: 250px;
    left: 2.5%;
}

#reseaux a {
    display: block;
    margin: 1rem 0;
}

#reseaux a img {
    width: 50%;
}

@media screen and (max-width: 426px) {
    .container {
        margin: 3rem auto;
        width: 70%;
    }

    p {
        margin-top: 3rem;
    }
}